@font-face {
    font-family: 'Furore';
    src: url("../fonts/furore.ttf") format('truetype');
    font-weight: 400;
}


body { margin: 0; }



html, body {
  overflow-x: hidden;
  overflow-y:hidden;
}



body {
  position: fixed;
}

.hide{
    display: none !important;
}

.menu{
  display: flex;
  position: absolute;
  width: 100%; 
  height: 100%; 
}

.menuContainer{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.imageContainer{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.menuButtonContainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.menuButtonContainer h1{
    font-size: 150px;
    letter-spacing: 26px;
    color: white;
    margin-right: -28px;
    font-family: "Furore";
    text-align: center;
    margin-bottom: 200px;
    font-weight: 400;
    margin-top: 0;
    text-shadow: 0 0 0px #fff, 0 0 #fff, 0 0 0px #06c1d1, 0 0 0px #06c1d1, 0 0 0px #06c1d1, 0 0 40px #06c1d1, 0 0 11px #07c2f1;
}
.menuImages{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.menuButton{
    display: flex;
    width: 73%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
   
}

.menuButton a{
    display: flex;
    margin-bottom: 115px;
    height: 200px;
    justify-content: center;
    position: relative;
}

.menuButtonText{
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
}

.menuButtonText p{
    font-size: 59px;
    color: #00f6ff;
    font-family: "Furore";
    font-weight: 400;
    letter-spacing: 6px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.menuButtonText img{
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
#startGameButton:active{
    text-shadow: 0 0 0px #fff, 0 0 #fff, 0 0 0px #06c1d1, 0 0 0px #06c1d1, 0 0 38px #06c1d1, 0 0 110px #06c1d1, 0 0 43px #07c2f1;
}
#startGameButton:active img{
    filter: drop-shadow(0px 0px 19px #06c1d1);
}